<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45AA49061C0EDE340044F18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45AA491A1C0EDE350044F18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45AA49251C0EDE350044F18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
